.container {
    width: 100vw;
    height: 100vh;
    background: url('../../assets/logo.png') center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    padding: -15px;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: var(--color-navbar);
    border-radius: 8px;
    width: 100%;
    max-height: 80px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
    padding: 20px;
}


.header .img {
    height: 200px;
    width: 200px;
    margin-right: 250px;
}

img {
    max-width: 100%;
    max-height: 100%;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.navbar a {
    font-size: 1.5rem;
    margin-left: 40px;
    margin-top: 10px;
    text-decoration: none;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.navbar a:hover {
    color: white;
    transition: border-color .5s ease,color .5s ease;
    text-decoration: solid;
}



.navbar a:nth-child(3) {
    margin-left: 40px;
}

.navbar #log {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.navbar #log a{
    margin-left: 40px; 
    margin-right: 20px;  
}

hr {
    border: 0.01rem solid black;
    margin-left: 1px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    background: var(--color-footer);
    max-height: 80px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
    position:absolute;
    bottom:0;
}

.content h2 {
    font-size: 1.5rem;
    margin-right: 30px;
}



